@using PortfolioManagerWASM.Models
@using PortfolioManagerWASM.Pages
@inject IJSRuntime JS

<div class="container-fluid p-0" style="font-size:14px">
    @if (UserPortfoliosBasicInfo.Count > 0)
    {
        <div class="row">

            <!--Topbar Portfolio List-->
            <nav class="navbar d-xl-none navbar-expand bg-body-tertiary">
                <div class="container-fluid">
                    <span class="navbar-title">Portfolios</span>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <button class="btn dropdown-toggle navbar-title" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            @for (int i = 0; i < UserPortfoliosBasicInfo.Count; i++)
                            {
                                int index = i;
                                Portfolio portfolio = UserPortfoliosBasicInfo[index];

                                <!--Portfolio List-->
                                <button @onclick="()=>OnSelectPortfolio(index)" type="button" class="list-group-item list-group-item-action p-0">
                                    <div class="row">
                                        <div class="col-auto p-0 ms-3 d-flex align-items-center d-none d-xl-flex">
                                            <img class="portfolio-icon" src="@(portfolio.IconPath)" alt="Icon">
                                        </div>

                                        <div class="col m-1">
                                            <p class="portfolio-side-name">@portfolio.Name</p>
                                            <p class="portfolio-side-author">@portfolio.Author</p>
                                        </div>
                                    </div>
                                </button>
                            }
                        </ul>
                    </div>
                </div>
            </nav>

            <!--Sidenav Portfolio List-->
            <aside class="col-3 d-none d-xl-flex">
                <div class="list-group">
                    @for (int i = 0; i < UserPortfoliosBasicInfo.Count; i++)
                    {
                        int index = i;
                        Portfolio portfolio = UserPortfoliosBasicInfo[index];

                        <!--Portfolio List-->
                        <button @onclick="()=>OnSelectPortfolio(index)" type="button" class="list-group-item list-group-item-action p-0">
                            <div class="row">
                                <div class="col-auto p-0 ms-3 d-flex align-items-center d-none d-xl-flex">
                                    <img class="portfolio-icon" src="@(portfolio.IconPath)" alt="Icon">
                                </div>

                                <div class="col m-1">
                                    <p class="portfolio-side-name">@portfolio.Name</p>
                                    <p class="portfolio-side-author">@portfolio.Author</p>
                                </div>
                            </div>
                        </button>
                    }
                </div>
            </aside>

            <!--Main Page-->
            <div class="col">
                @if (ActivePortfolio != null)
                {
                    <!--Name and author-->
                    <div class="row mb-5">
                        <div class="portfolio-title">@ActivePortfolio.Name</div>
                        <div class="portfolio-author">@ActivePortfolio.Author</div>
                    </div>

                    <!--Description-->
                    <div class="row portfolio-description mb-2">
                        @ActivePortfolio.Description
                    </div>
                }

                <!--Portfolio Asset composition-->
                <div class="row justify-content-start mt-5">
                    <div class="home-title">
                        Asset composition
                    </div>

                    <div class="col-12 col-xl-7">
                        <ul class="scrollable-list">
                            @foreach (PortfolioAsset pa in ActivePortfolio.PortfolioAssets)
                            {
                                <li>
                                    <div class="accordion" id="accordion-assets">
                                        <div class="accordion-item border-0">
                                            <div class="accordion-header">
                                                <button class="button-unstyled d-inline w-100" type="button" data-bs-toggle="collapse" data-bs-target="#@pa.FinancialAsset.AssetId" aria-expanded="true" aria-controls="collapseOne">
                                                    <div class="row justify-content-between">
                                                        <div class="col-auto">
                                                            <img class="asset-icon me-2" src="@pa.FinancialAsset.IconPath" />
                                                            <span class="badge badge-custom">@pa.FinancialAsset.Name</span>
                                                            <span class="etf-reference">@pa.FinancialAsset.ReferenceIndex</span>
                                                            <a target="_blank" rel="noopener noreferrer" href="@pa.FinancialAsset.ReferenceETFSite">
                                                                <img class="etf-link-icon" src="/icons/link.svg" alt="reference index link" />
                                                            </a>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span>@pa.AllocationPercentage %</span>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                            <div id="@pa.FinancialAsset.AssetId" class="accordion-collapse collapse" data-bs-parent="accordion-assets">
                                                <div class="accordion-body fa-description">
                                                    <div class="row justify-content-between">
                                                        <div class="col-auto">
                                                            @pa.FinancialAsset.Description
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }
                        </ul>
                    </div>

                    <div class="col-12 col-xl-5" style="height:350px">
                        <SfAccumulationChart>
                            <AccumulationChartLegendSettings Visible="true"
                                                             Position="LegendPosition.Bottom"
                                                             Alignment="Alignment.Center" />

                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries Type="AccumulationType.Pie"
                                                         PointColorMapping="Color"
                                                         DataSource="@AssetCompositionChartData"
                                                         XName="AssetName"
                                                         YName="Allocation"
                                                         Name="AssetName"
                                                         InnerRadius="20%">
                                </AccumulationChartSeries>
                                <AccumulationChartTooltipSettings EnableAnimation=true
                                                                  Enable="true"
                                                                  EnableMarker="true" />
                            </AccumulationChartSeriesCollection>
                        </SfAccumulationChart>
                    </div>
                </div>

                <!--Portfolio Strengths and weaknesses-->
                <div class="row justify-content-end  mt-5">
                    <div class="home-title">
                        Portfolio Strengths and Weaknesses
                    </div>

                    <div class="col-4 d-none d-xl-flex" style="height:350px">
                        <SfChart>
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                                               LabelPlacement="LabelPlacement.OnTicks" />
                            <ChartPrimaryYAxis Interval="20"
                                               Maximum="100"
                                               Minimum="0"
                                               LabelFormat="{value} %" />
                            <ChartSeries Type="ChartSeriesType.Radar"
                                         DrawType="ChartDrawType.Line"
                                         DataSource="@PortfolioStrenghAndWeaknessChartData"
                                         XName="Environment"
                                         YName="Intensity">
                                <ChartMarker Visible="true" Height="7" Width="7" />
                            </ChartSeries>
                            <ChartTooltipSettings Enable="true" />
                        </SfChart>
                    </div>

                    <div class="col list-strengths-weakness">
                        <ul>
                            @foreach (StrenghtsAndWeaknessChartDataModelPolar dataModelPolar in PortfolioStrenghAndWeaknessChartData)
                            {
                                <li>
                                    <div class="badge" style="@dataModelPolar.Style">
                                        @dataModelPolar.Environment
                                    </div>
                                    <div class="ms-3 mb-2">
                                        @dataModelPolar.Description
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                </div>

                <!--Portfolio Risk analysis-->
                <div class="row justify-content-start mt-5">
                    <div class="home-title">
                        Risk Analysis
                    </div>
                    <div class="ms-1">
                        Percentage of assets exposed to a specific type of risk
                    </div>
                    <div class="col" style="height:350px">
                        <SfChart>
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" />
                            <ChartPrimaryYAxis Title="Risk Intensity" ValueType="Syncfusion.Blazor.Charts.ValueType.Double"
                                               Minimum="0" Maximum="100" />

                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@RiskChartData"
                                             XName="Risk"
                                             YName="Intensity"
                                             Type="ChartSeriesType.Bar"
                                             Name="Risk Levels">
                                </ChartSeries>
                            </ChartSeriesCollection>

                            <ChartTooltipSettings Enable="true" />
                        </SfChart>
                    </div>
                </div>


                <button class="btn btn-primary" @onclick="OnDeleteActivePortfolio">Delete</button>

            </div>

        </div>
    }
    else
    {
        <p>Still no portfolio</p>
    }
</div>


